.title-bar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.search-bar {
  margin-right: 20px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.logout-option {
  display: flex;
  align-items: center;
}
